.cardbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  cursor: pointer;

  .card {
    height: 22em;
    width: 12.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform ease 0.3s;

    &:is(:hover, :active) {
      transform: scale(1.04);
    }

    .imgbox {
      height: 18em;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .card-body {
      height: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.2em;
      overflow: hidden;
      text-overflow: ellipsis;

      h5 {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .cardbox {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 1em;
    border: Solid green 1px;

    .card {
      margin-left: -0.4em;
      height: 16em !important;
      width: 10.5em !important;

      .imgbox {
        height: 14em !important;
      }
      .card-body {
        padding: 0.2em 0;
        h5 {
          font-size: 0.6em;
        }
      }
    }
  }
}
