<div class="card" onclick="getData({{{data.id}}})">
  <div class="imgbox">
    <img
      srcset={{{data.data.poster}}}
      class="card-img-top"
      loading="lazy"
      alt={{{data.title}}}
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{{data.title}}}</h5>
  </div>
</div>