<div class="footer w-100 mt-5 bg-dark d-flex justify-content-evenly">
  <p class="my-3 text-white"> <small>Copyright &copy; FlixNation</small></p>
  <p class="my-3 text-white">
    <small>DMCA</small>

  </p>
  <p class="my-3 text-white"><small>Privacy Policy</small></p>
  <p class="my-3 text-white"><small>Request</small></p>
</div>