<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FlixNation</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Movies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/bollywood/1">Bollywood</a></li>
            <li><a class="dropdown-item" href="/hollywood/1">Hollywood</a></li>
            <li><a class="dropdown-item" href="/korean-movie/1">Korean</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Series
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/tv-series/1">Tv-Series</a></li>
            <li><a class="dropdown-item" href="/k-drama/1">K-Drama</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">How To Download</a>
        </li>
      </ul>
      <form
        class="d-flex search"
        method="get"
        onsubmit="event.preventDefault()"
      >
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success search-submit"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</nav>