<nav id="pagination">
  <a class="btn border rounded-start first">First</a>
  <a href="" class="btn border btn prev">&lt&lt</a>
  <div class="left"></div>
  <a href="" class="current border btn btn-primary active">{{{activekey}}}</a>
  <div class="right"></div>
  <a href="" class="btn border btn next">>></a>
  <a class="btn border rounded-end last">Last</a>
</nav>